@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background: rgb(12, 11, 12);

  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}

.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}

.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}

.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}

.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(244, 239, 239);
}

.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}

.movie_card .info_section .movie_header .poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(241, 238, 238);
}

.movie_card .info_section .movie_info {
  padding: 25px;
  height: 50%;
}

.movie_card .info_section .movie_info .text {
  color: #cfd6e1;
}

.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}

button {
  padding: 5px;
  width: 100px;
  border: 2px solid rgb(255, 253, 255);
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #ee3ac7;
  color: white;
}

@media screen and (min-width: 768px) {
  .movie_card .info_section .movie_header {
    width: 60%;
  }

  .movie_card .info_section .movie_info {
    width: 50%;
  }

  .movie_card .info_section {
    background: linear-gradient(to right, #ee3ac7 50%, #e8d3e3);
  }

  .movie_card .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .movie_card .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_card .info_section .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_card .info_section .movie_info {
    width: 100%;
  }

  .movie_card .info_section {
    background: linear-gradient(to top, #ee3ac7 50%, transparent 100%);
    display: inline-grid;
  }
}

#barbie {
  box-shadow: 0px 0px 150px -45px rgb(240, 233, 239);
}

#barbie:hover {
  box-shadow: 0px 0px 120px -55px rgb(225, 69, 194);
}
