 /* body */
 
 body{
    margin: 0;
    display: flex;
    flex-direction: column; 
    font:  sans-serif;
    background: url('https://images.unsplash.com/photo-1677480517571-a74848a690cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-size: cover; 
    overflow: hidden;

 }

 /* heading */

 h1{
     text-transform: uppercase;
     letter-spacing: 4px;
     font-size: 30px;
      text-align: center;  
      color: white;
      text-shadow: 18px 4px 15px rgb(105, 2, 74);
     
     
 }



 .container{

    display: flex;
   

 }

 .container div{
    margin: 5px;
    position: relative;
    
 }

 .container span{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center; 
    background: rgb(4, 139, 24);
    opacity: .8;
    align-items: center; 
    font-size: 10px;
    text-shadow: 10px 14px 20px black 0.3;
    font-size: 50px;
    color: rgb(236, 242, 236);
    border-radius:10px;
   
 }

 .container .text{
      background: rgb(212, 219, 213);
      height: 30px;
      font-size: 10px;
      text-transform: uppercase;
      color: rgb(5, 108, 46);
      letter-spacing: 2px;
      opacity: 0.8;
 }

 .container #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(0, 128, 34);
 }
