body{
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     background-color: aquamarine;
}

h1{
   
    letter-spacing: 10px;
    font-size: 50px;
    text-transform: capitalize;
    text-shadow: 2px 3px 4px white;
    white-space: nowrap;
}
.container{
     text-align: center;
}

.btn{
    width: 200px;
    padding: 20px;
    margin: 5px;
    background-color: white; 
    min-width: 200px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url("https://cdn.pixabay.com/photo/2018/01/26/18/17/drums-3109364__340.jpg" );
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
        
}
.btn:hover{
    color: rgb(171, 16, 68);
}

 .btn:active{
    background-size: 105%;
 }